{% include "users/base.html" %}

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <a href="#" class="navbar-brand">TAJ-IIT Jodhpur</a>
            </div>
        </div>
    </div>
    <br><br><br><br>
  <div class="container-fluid">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center;">
          <h4>Add a Staff/Teaching assistant</h4>
          Please enter the following details to complete the operation
          <hr>
          <span id="newUserErrors" style="background-color:#a00;"></span>
          <br><br>
          <form role="form" id="addUserForm" action = "javascript:addUser()">
          {% csrf_token %}
            <div class="form-group" style="text-align: left;">
              <label for="inputUsername">Username</label>
              <input required type="text" class="form-control" id="newUser" placeholder="Choose an appropriate user name" name="user_name">
            </div>
            <div class="form-group" style="text-align: left;">
              <label for="inputEmail">Email address</label>
              <input required type="email" class="form-control" id="newUserEmail" placeholder="Enter the IITJ email id of the new user" name="email">
            </div>
            <div class="form-group" style="text-align: left;">
              <label for="inputPassword">Password</label>
              <input required type="password" class="form-control" id="newUserPassword" placeholder="Password" name="pass_word">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
          <hr></hr>
        </div>
      </div>
  </div>
</body>

<script type="text/javascript">
    function addUser(){
      var user = document.getElementById("newUser").value;
      var password = document.getElementById("newUserPassword").value;
      var email = document.getElementById("newUserEmail").value;
      var done = false;
      var error;
      if(!user && !password && !email){
        error = "please enter a valid name!";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!user && !password){
        error = "please enter a valid name!";
        $("#newUserErrors").html(error).addClass("badge");  
      }else if(!user && !email){
        error = "please enter a valid name!";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!email && !password){
        error = "Please enter a password for enhanced security";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!user){
        error = "please enter a valid name!";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!password){
        error = "Please enter a password for enhanced security";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!email){
        error = "Enter an email for further communications";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(user.toLowerCase()=="admin"){
        error = "highly privileged!";
        $("#newUserErrors").html(error).addClass("badge");
      }else{
        done = true;
      }
      if(done){
        var addUserForm = $("#addUserForm").serialize();
        $.ajax({
          type:"POST",
          url:"/judge/registerStaff/",
          dataType:"json",
          data: addUserForm,
          success:function(data){
            if(data.errors){
              error = "This user already exists!";
              $("#newUserErrors").html(error).addClass("badge");
              done=false;
            }else{
                window.location.href = "/judge"
            }
          }
        });
      }
    }
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
