<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TAJ- IIT Jodhpur</title>

    <!-- Bootstrap Core CSS -->

      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
      <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    li {
      padding-left: 15px;
    }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/judge"><span class="glyphicon glyphicon-user"></span><b>  &nbsp Student Login</b></a>
                    </li>
                    <li>
                        <a href="/judge/staff"><span class="glyphicon glyphicon-eye-open"></span><b>  &nbsp Staff Login</b></a>
                    </li>
                    <li>
                        <a href="/judge/admin"><span class="glyphicon glyphicon-cog"></span><b>  &nbsp Admin Login</b></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-phone-alt"></span> &nbsp <b>Contact</b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            
            <div class="col-lg-12 text-center">
                <h1>TAJ-IIT Jodhpur</h1>
            </div>
        </div>
        <br>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                  <div class="panel-heading"><span class="glyphicon glyphicon-bell"></span> General Notifications</div>
                      <div class="panel-body" style="max-height: 10em;overflow-y: scroll;">
                         <ul>
                             {% for n in notif %}
                             <li>{{ n.NotificationText }}</li>
                         </ul>
                             {% endfor %}
                      </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                  <div class="panel-heading"><span class="glyphicon glyphicon-envelope"> Useful Links</div>
                      <div class="panel-body" style="max-height: 10em;overflow-y: scroll;">
                         <ul>
                             {% for l in link %}
                             <li><a href="{{ l.LinkUrl }}">{{ l.LinkDescription }}</li>
                         </ul>
                             {% endfor %}
                      </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</body>

</html>
