{% include "users/base.html" %}

<head>
    <style>
    body {
        padding-right: 50px;
        padding-left: 50px;
    }
    .icon-red {
        color: rgb(250, 57, 57);
    }

    .icon-green {
        color: #00E025;
    }
    </style>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <a href="/judge/home" class="navbar-brand">TAJ-IIT Jodhpur</a>
            </div> 
        </div>
    </div>
    <br><br><br><br>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class = "col-md-12">
                <div class="input-group"> <span class="input-group-addon">Filter</span>
                    <input id="filter" type="text" class="form-control" placeholder="Type your search query here...">
                </div>
                <br>
                <table class="table table-striped table-hover ">
                    <thead>
                      <tr>
                        <th>Roll Number</th>
                        {% for p in problems %}
                        <th><i>{{p.problemTitle}}</i></th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody class="searchable">
                      {% for d in data %}
                      <tr>
                        {% for item in d %}
                            {% if item == 1 %}
                            <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                            {% elif item == 0 %}
                            <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            {% else %}
                            <td>{{item}}</td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                 </table>
             </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {

        (function ($) {

            $('#filter').keyup(function () {

                var rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function () {
                    return rex.test($(this).text());
                }).show();

            })

        }(jQuery));

    });
</script>