{% include "users/base.html" %}

<head>
    <style>
        .ds-btn li{ list-style:none; float:left; padding:10px; }
        .ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
        .ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
    </style>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <a href="/judge/home" class="navbar-brand">TAJ-IIT Jodhpur</a>
            </div> 
        </div>
    </div>
    <br><br><br><br>
    <div class="container-fluid">
        <h1 style="padding-left: 63px;">{{CourseName}}</h1>
        <div class="row-fluid">
            <div class = "col-md-12">
                <ul class="ds-btn">
                    <li>
                         <a class="btn btn-lg btn-primary" href="/judge/performanceCumulative/{{course_id}}/">
                         <i class="glyphicon glyphicon-user pull-left"></i><span>View Cumulative Report<br><small></small></span></a> 
                    </li>
                    <li>
                         <a class="btn btn-lg btn-primary" href="/judge/performanceIndividualIndex/{{course_id}}/">
                         <i class="glyphicon glyphicon-user pull-left"></i><span>View Individual Student Report<br><small></small></span></a> 
                    </li>
                </ul>
            </div>
            <div class = "col-md-12">
                <ul class="ds-btn">
                {% for c in contests %}
                    <li>
                         <a class="btn btn-lg btn-success " href="/judge/performanceLab/{{course_id}}/{{c.id}}/">
                         <i class="glyphicon glyphicon-dashboard pull-left"></i><span>{{ c.contestName }}<br><small></small></span></a> 
                    </li>
                {% endfor %}
                </ul>
            </div> 
        </div>
    </div>
</body>