{% include "users/base.html" %}

<head>
    <style>
    </style>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <a href="/judge/home" class="navbar-brand">TAJ-IIT Jodhpur</a>
            </div> 
        </div>
    </div>
    <br><br><br><br>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class = "col-md-6">
                <h2><u>Performance Report</u></h2>
                {% for cont,stats in data %}
                    <p><strong> {{ cont }} </strong> </p>
                    <table class="table table-striped table-hover ">
                        <thead>
                          <tr>
                            <th>Problem Name</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for pro,sol in stats %}
                          <tr>
                            <td>{{ pro }}</td>
                            <td>{{ sol }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                     </table>                
                {% endfor %}
            </div>
        </div>
    </div>
</body>