{% include "users/base.html" %} 

<head>
    <style>
    body {
        padding-right: 50px;
        padding-left: 50px;
    }
    .icon-red {
        color: rgb(250, 57, 57);
    }

    .icon-green {
        color: #00E025;
    }
    </style>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <a href="/judge" class="navbar-brand">TAJ-IIT Jodhpur</a>
            </div>    
        </div>
    </div>
    <br><br><br>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="/judge/">Lab Sessions</a></li>
                  <li><a href="/judge/submission">My Submissions</a></li>
                  <li class="active"><a href="/judge/profile">Profile</a></li>
                  <li><a href="/judge/logout">Logout</a></li>
                </ul>
            </div>
            {% for h in hacker %}
            <div class="col-md-2">
                {% if h.profileImage %}
                <img src="{{MEDIA_URL}}{{h.profileImage}}" height="15%" width="60%">
                {% else %}
                <img src="{{MEDIA_URL}}avatar/student.png" height="15%" width="60%">
                {% endif %}
                <br><br>
            </div>
            <div class="col-md-4">
                <p><b>Username: </b>{{h.username}}</p>
                <p><b>Email: </b>{{h.email}}</p>
                {% if h.is_staff or h.is_superuser %}
                {% else %}    
                <p><b>Roll Number: </b>{{h.roll}}</p>
                {% endif %}
                <p><b>Name: </b>{{h.first_name}} {{h.last_name}}</p>
            </div> 
            <div class="col-md-4"></div>
            {% endfor %}
        </div>
        <a href="/judge/editProfile/" type="button" class="btn btn-default pull-right" style="background: #0099ff;">
            Edit Profile
        </a> 
        {% if superuser == 1 %}
        <br>
        {% else %}
            <div class = "col-md-12">
                <h2><u>Performance Report</u></h2>
                {% for cont,stats in data %}
                    <p><strong> {{ cont }} </strong> </p>
                    <table class="table table-striped table-hover ">
                        <thead>
                          <tr>
                            <th>Problem Name</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for pro,sol in stats %}
                          <tr>
                            <td>{{ pro }}</td>
                            {% if sol == 4 %}
                            <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                            {% elif sol == 5 %}
                            <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            {% elif sol == 3 %}
                            <td><i class="glyphicon glyphicon-time icon-red"></i></td>                          
                            {% else %}
                            <td>{{sol}}</td>
                            {% endif %}
                          </tr>
                          {% endfor %}
                        </tbody>
                     </table>                
                {% endfor %}
            </div>
        {% endif %}
    </div>
