{% include "users/base.html" %}

<body>
  {% include "includes/navbar.html" %}
    <br><br><br><br>
  <div class="container-fluid">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center;">
          <h4>New Students Register here</h4>
          Register as a new participant to continue
          <hr>
          <span id="newUserErrors" style="background-color:#a00;"></span>
          <br><br>
          <form role="form" id="addUserForm" action = "javascript:addUser()">
          {% csrf_token %}
            <div class="form-group" style="text-align: left;">
              <label for="inputUsername">Username</label>
              <input required type="text" class="form-control" id="newUser" placeholder="Choose an appropriate user name" name="user_name">
            </div>
            <div class="form-group" style="text-align: left;">
              <label for="inputEmail">Email address</label>
              <input required type="email" class="form-control" id="newUserEmail" placeholder="Enter your IITJ email id" name="email">
            </div>
            <div class="form-group" style="text-align: left;">
              <label for="inputEmail">Roll Number</label>
              <input required type="text" class="form-control" id="newUserRoll" placeholder="Enter your IITJ Roll Number" name="roll">
            </div>
            <div class="form-group" style="text-align: left;">
              <label for="inputPassword">Password</label>
              <input required type="password" class="form-control" id="newUserPassword" placeholder="Password" name="pass_word">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
          <hr></hr>
        </div>
      </div>
  </div>
</body>

<script type="text/javascript">
    function addUser(){
      var user = document.getElementById("newUser").value;
      var password = document.getElementById("newUserPassword").value;
      var email = document.getElementById("newUserEmail").value;
      var roll = document.getElementById("newUserRoll").value;
      var error = "all the fields are compulsory for registration"
      var done = false;
      if(!user && !password && !email && !roll){
        $("#newUserErrors").html(error).addClass("badge");
      }else{
        done = true;
      }
      if(done){
        var addUserForm = $("#addUserForm").serialize();
        $.ajax({
          type:"POST",
          url:"/user/register/",
          dataType:"json",
          data: addUserForm,
          success:function(data){
            if(data.errors){
              error = "That fellow already exists!";
              $("#newUserErrors").html(error).addClass("badge");
              done=false;
            }else{
                window.location.href = "/judge"
            }
          }
        });
      }
    }
    {% include "includes/js/ajax.js" %}
</script>
