{% include "users/base.html" %}

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <a href="/judge" class="navbar-brand">TAJ-IIT Jodhpur</a>
            </div>    
        </div>
    </div>
    <br><br><br><br>
    <div class="container-fluid">
    	<div class="row-fluid" align="center">
    		<h3>Your solution is submitted successfully.</h3>
    		<p>You could view your results at <a href="/judge/submission">My Submissions</a></p>
    	</div>
    </div>
</body>