.btn-green {
    background: #73b369;
    border: 1px solid #73b369;
    color: #fff;
}
.button, .nice-button {
    padding: 3px 13px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    min-width: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    outline: 0;
}