{% include "users/base.html" %}

<body>
    {% include "includes/navbar.html" %}    
    <br><br><br>
    <div class="container-fluid">
    	<div class="row-fluid">
    		<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
				  <li><a href="#">Contests</a></li>
                  <li><a href="/judge/submission">My Submissions</a></li>
                  <li class="active"><a href="#">Problem Archive</a></li>
				</ul>
			</div>
			<div class="col-md-10">
    			<h2>All Problems</h2>
    		</div>
    	</div>
    </div>
</body>